* {
    margin: 0;
    padding: 0;
    font-family: Verdana;
}
body {
    background-color: #208aba;
}
.main {
    background-image: url(image/sky.jpg);
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    .text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        z-index: 1;
        text-decoration: none;
        strong {
            font-size: 20px;
        }
        h1 {
            font-size: 68px;
            width: 460px;
            transition: all 1s ease-in;
        }
        a {
            font-weight: 600;
            letter-spacing: 1px;
            text-decoration: none;
            transition: all 1s;
        }
        #a1 {
            color: yellow;
        }
        #a2 {
            color: pink;
            display: none;
        }
    }
    .clouds {
        img {
            position: absolute;
        }
        .float-cloud {
            animation: floating 5s linear infinite;
            .cloud1 img {
                width: 30%;
                right: -10%;
                top: 75vh;
            }
            .cloud2 img {
                width: 35%;
                left: -10%;
                top: 70vh;
            }
            .cloud3 img {
                width: 25%;
                left: -10%;
                top: 10vh;
            }
            .cloul4 img {
                width: 25%;
                right: -10%;
                top: 15vh;
            }
            @keyframes floating {
                0% {
                    transform: translateY(-5px);
                }
                50% {
                    transform: translateY(5px);
                }
                100% {
                    transform: translateY(-5px);
                }
            }
        }
        .fly-cloud {
            animation: flying 200s linear infinite;
            .flycloud1 img {
                width: 10%;
                top: 25vh;
                left: -10%;
            }
            .flycloud2 img {
                width: 20%;
                top: 15vh;
                left: -20%;
            }
            .flycloud3 img {
                width: 25%;
                top: 60vh;
                left: -40%;
            }
            .flycloud4 img {
                width: 35%;
                top: 70vh;
                left: 30%;
            }
            .flycloud5 img {
                width: 25%;
                top: -5vh;
                left: -60%;
            }
            .flycloud6 img {
                width: 30%;
                top: 95vh;
                left: -70%;
            }
            @keyframes flying {
                0% {
                    transform: translateX(-5%);
                }
                100% {
                    transform: translateX(120%);
                }
            }
        }
    }
    #angel {
        .angel1 img {
            position: absolute;
            height: 90vh;
            top: -90vh;
            right: -20px;
        }
        .angel2 img {
            position: absolute;
            height: 80vh;
            top: 120vh;
        }
        @keyframes fallen {
            0% {
                top: -90vh;
            }
            2% {
                top: 0vh;
            }
            100% {
                top: 0vh;
            }
        }
        @keyframes fallen-rev {
            0% {
                top: 0vh;
            }
            100% {
                top: -90vh;
            }
        }
        @keyframes rise {
            0% {
                top: 120vh;
            }
            2% {
                top: 40vh;
            }
            100% {
                top: 40vh;
            }
        }
        @keyframes rise-rev {
            0% {
                top: 40vh;
            }
            100% {
                top: 120vh;
            }
        }
    }
}
@media only screen and (max-width: 600px) {
    .text {
        strong {
            font-size: 16px !important;
        }
        p {
            font-size: 12px !important;
        }
        h1 {
            font-size: 35px !important;
            width: 240px !important;
        }
        a {
            font-size: 12px !important;
        }
    }
    #angel{
        .angel1 img {
            height: 60vh !important;
            right: -120px !important;
        }
        .angel2 img {
            height: 60vh !important;
            left: -90px !important;
        }
    }
}
@media only screen and (max-width: 1000px) {
    #angel{
        .angel1 img {
            right: -120px !important;
        }
        .angel2 img {
            left: -90px !important;
        }
    }
}
