*{
    margin: 0;
    padding: 0;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
}
.main{
    background-image: url(image/sky.jpg);
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    z-index: 1;
    text-decoration: none;
}
.text strong{
    font-size: 20px;
}
.text h1{
    font-size: 68px;
    width: 500px;
    transition: all 1s ease-in;
}
.text a{
    color: yellow;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
}
/* ================ */
.clouds img{
    position: absolute;
}
.float-cloud{
    animation: floating 5s linear infinite;
}
.cloud1 img{
    width: 30%;
    right: -10%;
    top: 75vh;
}
.cloud2 img{
    width: 35%;
    left: -10%;
    top: 70vh;
}
.cloud3 img{
    width: 25%;
    left: -10%;
    top: 10vh;
}
.cloul4 img{
    width: 25%;
    right: -10%;
    top: 15vh;
}
.fly-cloud{
    animation: flying 200s linear infinite;
}
/* .flycloud1{

}
.flycloud2{
    
} */
@keyframes floating{
    0%{
        transform: translateY(-5px);
    }
    50%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(-5px);
    }
}
@keyframes flying{
    0%{
        transform: translateX(-5%);
    }
    100%{
        transform: translateX(120%);
    }
}
/* ============ */
.angel1 img{
    position: absolute;
    height: 90vh;
    top: -90vh;
    right: -20px;
    /* display: none; */
    /* animation: fallen 2s linear ; */
}
.angel2 img{
    position: absolute;
    height: 80vh; 
    top:120vh;
    /* animation: rise 2s linear ; */
}
@keyframes fallen{
    0%{
        top: -90vh;
    }
    5%{
        top: 0vh;
    }
    100%{
        top: 0vh;
    }
}
@keyframes fallen-rev{
    0%{
        top: 0vh;
    }
    100%{
        top: -90vh;
    }
}
@keyframes rise{
    0%{
        top:120vh
    }
    5%{
        top: 40vh;
    }
    100%{
        top: 40vh;
    }
}
@keyframes rise-rev{
    0%{
        top:40vh
    }
    100%{
        top: 120vh;
    }
}